<div class="row">
    <div class=" col-md-5">
        
                <div *ngFor='let quotes of quotes; let  i = index'>
                <h5>Famous Qoute</h5> 
                <p>{{ quotes.author}}</p>
                <h6>{{ quotes.quote}}</h6>
                <hr>
                
            </div>
                
<a href="" class="btn btn-primary btn-block">More info</a>
            
        </div>
        <div *ngIf = 'quotes.length< 1' class = 'alert alert-warning'>
            No New Quotes
        </div>
</div>
