<div class="row">
    <div class=" col-md-5">
        <h2>Latest Qoutes</h2>
        <div *ngFor='let for quotes of quotes;let i = index'>
        
            <p>I want to put a ding in the universe.
                Design is not just what it looks like and feels like. Design is how it works.
                Innovation distinguishes between a leader and a follower.
            <p><a href="" class="btn btn-primary btn-block">More info</a>
            </p>
        </div>
        
        
    </div>
</div>
