<div class="row">
    <div class=" col-md-5">
        <h2>Famous Qutes</h2>
                <div *ngFor='let quotes of quotes; let  i = index'>
                 
                <p>{{ quotes.author}}</p>
                <h6>{{ quotes.quote}}</h6>
                <div > <a class="col-md-8" href="">👍</a> 
                
                    <a class="col-md-4"  href="">👍</a> 
                     </div>
                
                <app-qoutes-details></app-qoutes-details>
                <a (click)="showDetails(i)" href="" class="btn btn-primary btn-block">More info</a>
                <app-qoutes-details  *ngIf="project.showQuotesDetails" [quotes]="quotes"></app-qoutes-details>
        
               
                
                <hr>
            </div>
                

            
        </div>
        <div *ngIf = 'quotes.length< 1' class = 'alert alert-warning'>
            No New Quotes
        </div>
</div>
