<div class="row">
    <div class="col-md-6">
        <h2>Daily Quotes</h2>

    
     <small>Please add Your Quote here</small>
    <form>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label>Second Name</label>
          <input type="text" class="form-control"  placeholder="">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control"  placeholder="@gmail.com">
          </div>

          <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        
          <button type="button" class="btn btn-primary btn-block">Submit</button>
      </form>

</div>
</div>